

h1, h2, p, a{
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h2{
  color: #fff;
}
span{
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.65em;
}
ul{
  margin: 0 0 2em 0;
}
/* HEADER */
header{
  top: 0;
  left: 0;
  width: 100%;
  background: #0F1116;
  color: #fff;
  padding: 0.4em;
}

/* MAIN */
main{
  padding-top: 40px;
  padding-bottom: 60px;
  background: url("images/bg.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.container-text{
  width: 67%;
  text-align: center;
  color: #fff;
}
.container-text p{
  font-size: 1.75em;
  line-height: 1.75em;
}
.container-text a{
  text-decoration: underline;
}
.card-deck{
  width: 74%;
  padding-top: 3.5em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.card{
  border: none;
}
.row{
  padding: 10px;
}
.col{
  color: white;
}
.col h2{
  padding-bottom: 20px;
}
.row i{
  color: white;
}
/* BUTTON */
.btn, .btn-big, .btn-mes{
  background: #d84780;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  color: #FFF !important;
}
.btn:hover, .btn-big:hover, .btn-mes:hover{
  background: #e1719d;
  color: white;
}
.btn, .btn-mes{
  padding: 0.75em 1.5em;
  font-size: 1.2em;
}
.btn-big{
  padding: 0.80em 2em;
  font-size: 1.6em;
}
/* FOOTER FORM */
form {
  width: 70%;
  margin: 0em auto;
}
.form h2{
  font-size: 50px;
  margin: 5px;
  padding: 4px;
}
.form span{
  font-size: 26px;
  color: #fff;
  padding: 15px;
}
.form{
	background-color: #f4428c;
	padding: 100px 0;
	text-align: center;
}
input, textarea{
  width: 100%;
	font-size: 18px;
	border: 2px solid #fff;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
  margin: 10px;
}
textarea{
  min-height: 14em;
}
input{
  line-height: 1em;
}

/* FOOTER */

.copyright{
  background: #0f1116;
  color: #ddd;
  color: rgba(255, 255, 255, 0.2) !important;
  text-align: center;
  display: block;
  padding: 3em 0em;
}
.copyright a{
  text-decoration: none;
  color: #ddd;
  color: rgba(255, 255, 255, 0.4) !important;
}
.social{
  display: inline-block;
}
.social i{
  padding: 10px;
  padding-bottom: 50px;
}
.social i:hover{
  color: white;
}
